body {
  min-height: 100vh;
  background-image: linear-gradient(180deg, #9fedd7 0%, #026670 100%);
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

